body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-lg {
  padding: 15px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 1.25em;
}

.btn-lg:hover {
  color: #00B7FF;
  border-color: #00B7FF;
}

.btn {
  padding: 5px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 3px;
  color: black;
  text-decoration: none;
}
.btn:hover {
  color: #00B7FF;
  border-color: #00B7FF;
}
.btn:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn-danger {
  color: crimson;
  border-color: crimson;
}

.error {
  color: crimson;
  padding: 5px;
}

.dash-wf-container {
  padding: 10px;
  border-bottom: 1px solid black;
  margin: 5px;
}
.dash-wf {
  display: flex;
  flex-direction: column;
}
.field {
  margin: 0.2rem;
  padding-left: 0.2rem;
  border-left: 1px solid black;
}
.service-field {
  color: darkgrey;
}