

// States:
    0 - not executed
    1 - fail
    2 - running
    3 - success
mixin prettystatus(status)
    -
        const state_colors = [ '#a9a9a9', '#00bf1b', '#f7c778', '#db5961']
        const state_str = ['Not executed yet', 'Error', 'Running', 'Success'];
    span(
        style={color: state_colors[status], "text-decoration": 'underline'}
    )= state_str[status]